	<h3>Sidebar Menu One</h3>
	<h4>This is a Menu</h4>
	<ul>
		<li><a href="" title="">When To Stop</a></li>
		<li><a href="" title="">Menu Option</a></li>
		<li><a href="" title="">What Can I Do</a></li>
		<li><a href="" title="">There is More To Do</a></li>
		<li><a href="" title="">Much More</a></li>
	</ul>

	<img src="{{media_url}}imgs/demo-sidebar.jpg" alt="Image Name">

	<h4>Sidebar Menu Two</h4>
	<ul>
		<li><a href="" title="">This Might Work</a></li>
		<li><a href="" title="">What More Can I Say</a></li>
		<li><a href="" title="">You Are Using A Site</a></li>
		<li><a href="" title="">This is a Website</a></li>
	</ul>
	<form action="index_html_4_strict_submit" method="post" accept-charset="utf-8" id="email-signup">
		<div><label for="sign_up">Sign Up</label><input type="text" name="sign_up" value="" id="sign_up"></div>
		<div><input type="submit" name="sign_up_submit" value="Submit" id="sign_up_submit"></div>
	</form>
	<div id="note-1" class="box sidebar-note">
		<h3>Hello World</h3>
		<small>In lorem augue, auctor eu, lacinia ut, accumsan vitae, orci. Etiam felis nisi, fermentum eget, bibendum nec, viverra at, justo.</small>
	</div>